body {
  font-size: 0.875rem;
}


.btn-secondary {
  float: right;
  width: 100px;
  height: 50px;
  margin-top: 15px;
  margin-right: 3px;
}


ul#list {
  width: 100%;
  text-align: center;
}

#list {
  display: flex;
  justify-content: space-around;
}

mysearchbar{
  width: 360px;
  margin: auto;
}

.card{
  min-width: 15rem;
}